@using System.Text.Json
@model List<NET_MVC.Dto.AnimalViewModel>
<link rel="stylesheet" href="~/css/animal.css" />
<h1>Danh sách thú cưng</h1>
<table>
    <tr>
        <th>Loại</th>
        <th>Tên</th>
        <th>Tuổi</th>
        <th>Người chăm sóc</th>
        <th>Hành động</th>
    </tr>
    
    @foreach (var animal in Model)
    {
        <tr>
            <td><a href="/chi-tiet-thu-cung/@animal.Id">@animal.CategoryName</a></td>
            <td>@animal.Name</td>
            <td>@animal.Age</td>
            <td>@string.Join(", ", @animal.ListKeeper)</td>
            <td>Edit</td>
        </tr>
    }
 
</table>

@* <pre>
    @JsonSerializer.Serialize(Model, new JsonSerializerOptions 
    { 
            WriteIndented = true,
                ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.IgnoreCycles 
        })
</pre> *@